@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Times New Roman';
  src: url('/fonts/times-new-roman/times.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tiro Bangla';
  src: url('/fonts/Tiro_Bangla/TiroBangla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tiro Bangla';
  src: url('/fonts/Tiro_Bangla/TiroBangla-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
  }
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
